html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3rem; /* Footer height */
}

header {
  position: static;
  font-family: "Georgia", Times, Times New Roman, serif;
  box-shadow: 0.1px 2px 5px rgba(0, 0, 0, 0.603);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("images/papyrus.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  color: #ffffff;
  font-size: 2em;
  letter-spacing: 1px;
  background-color: rgb(64, 113, 148);
  padding: 20px 20px 20px 20px;
  margin: 20px 0px 0px 0px;
  box-shadow: 0px 1px 1px rgb(64, 113, 148);
  @media screen and (max-width: 980px) {
    font-size: 1.75em;
  }
  @media screen and (max-width: 768px) {
    font-size: 1.5em;
  }
  @media screen and (max-width: 640px) {
    font-size: 1.25em;
  }
}

#title-link {
  text-decoration: none;
  color: inherit;
}

.nav-links {
  font-size: 1.25em;
  z-index: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  list-style: none;
  background-color: #ffffff;
  //padding-left: 20px;
  margin: 15px 0px 0px 0px;
  border-radius: 25px 0px 0px 25px;
  @media screen and (max-width: 980px) {
    box-shadow: 0.1px 2px 5px rgb(0, 0, 0);
    font-size: 1em;
  }
  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }
  @media screen and (max-width: 640px) {
    font-size: 0.7em;
  }
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  color: #777777;
  //   text-shadow: 0.75px 0.7px 0.5px rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 3px;
  padding: 5px 20px;
  justify-content: space-around;
  font-weight: bold;
}

// .nav-links li a {
//   border: 1px solid white;
// }

.nav-links li a:hover {
  transition: all 0.3s ease-in;
  text-shadow: 1.8px 1.8px 2.75px rgba(0, 0, 0, 0.2);
}

.burger {
  display: none;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(64, 113, 148);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 980px) {
  body {
    //position: relative;
    overflow-x: hidden;
    background: #ffffff;
  }
  .nav-links li a {
    font-size: 1.25em;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .nav-links li {
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 640px) {
  .nav-links {
    width: 55%;
    font-size: 0.9em;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.main {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 980px) {
    min-height: calc(100vh - 95px - 61.59px);
  }
  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 82px - 102px);
    margin: 10px 10px 10px 10px;
  }
  @media screen and (max-width: 640px) {
    min-height: calc(100vh - 77px - 70px);
    margin: 10px 10px 10px 10px;
  }
}

.body-content {
  width: 960px;
  position: relative;
  margin-top: 2%;
  margin-bottom: 2%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #dddddd;
  background-color: #ffffff;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.836);
}

#about-title {
  color: rgb(64, 113, 148);
  padding: 15px 0px 5px 30px;
  font-size: 2em;
}

#portfolio-title {
  color: rgb(64, 113, 148);
  padding: 15px 0px 5px 30px;
  font-size: 2em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  row-gap: 1em;
  margin: 3% 0% 3% 0%;
  @media screen and (max-width: 420px) {
    grid-template-columns: 1fr;
    margin: 3% 0% 3% 0%;
  }
}

.images {
  width: 90%;
}

.image-text {
  position: absolute;
  font-size: 1.5em;
  color: #ffffff;
  background-color: rgb(64, 113, 148);
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-width: 0.011px;
  width: 45%;
  padding-top: 1%;
  padding-bottom: 1%;
  @media screen and (max-width: 980px) {
    font-size: 1em;
  }
  @media screen and (max-width: 420px) {
    width: 90%;
    font-size: 1.5em;
  }
}

.image1-text {
  margin: 25% 0% 0% 2.5%;
  @media screen and (max-width: 420px) {
    margin: 55% 0% 0% 5%;
  }
}

.image2-text {
  margin: 25% 0% 0% 52.5%;
  @media screen and (max-width: 420px) {
    margin: 135% 0% 0% 5%;
  }
}

.image3-text {
  margin: 65% 0% 0% 2.5%;
  @media screen and (max-width: 420px) {
    margin: 210% 0% 0% 5%;
  }
}

.image4-text {
  margin: 65% 0% 0% 52.5%;
  @media screen and (max-width: 420px) {
    margin: 285% 0% 0% 5%;
  }
}

.image5-text {
  margin: 105% 0% 0% 2.5%;
  @media screen and (max-width: 420px) {
    margin: 365% 0% 0% 5%;
  }
}

.image6-text {
  margin: 105% 0% 0% 52.5%;
  @media screen and (max-width: 420px) {
    margin: 440% 0% 0% 5%;
  }
}

.image7-text {
  margin: 142% 0% 0% 2.5%;
  @media screen and (max-width: 420px) {
    margin: 515% 0% 0% 5%;
  }
}

#line {
  width: 95%;
  margin-left: 2.5%;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  text-align: center;
  background-color: #dddddd;
}

#profile-photo {
  float: left;
  height: 20%;
  width: 20%;
  margin: 15px 30px 0px 30px;
  @media screen and (max-width: 980px) {
    height: 30%;
    width: 30%;
  }
}

#about {
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  line-height: 45px;
  font-size: 1.3em;
  color: #777777;
  @media screen and (max-width: 980px) {
  }
  @media screen and (max-width: 768px) {
    font-size: 1.2em;
    line-height: 40px;
  }
  @media screen and (max-width: 640px) {
    font-size: 1em;
    line-height: 35px;
  }
}

.contact-form {
  margin: 15px 30px 0px 30px;
  color: #777777;
}

#name {
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #777777;
}

#email {
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #777777;
}

#comment {
  //margin: 10px;
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #777777;
}

#submit {
  background-color: rgb(64, 113, 148);
  padding: 5px 10px 5px 10px;
  border-style: none;
  color: #ffffff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #666666;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-color: rgb(64, 113, 148);
  box-shadow: 1px 0.6px 5px rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.linkedin {
  grid-column-start: 3;
  text-align: right;
  margin-right: 20px;
}

#linkedin-icon {
  height: 30px;
}

#copyright {
  grid-column-start: 2;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-size: 0.8em;
}
